<!-- Handling each blog separate -->
<% @blogs.each do |blog| %>
    <%= link_to blog_path(blog), class: "black-text" do %>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content black-text" style="min-height: 350px; max-height: 350px; overflow: scroll">
              <span class="card-title black-text"><strong><%= blog.title.truncate(20) %></strong></span>

              <!-- Vote add/remove -->
              <% if user_signed_in? && blog.voted(current_user) %>
                  <div class="right">
                    <% if blog.user == current_user %>
                        <h5><i class="fa fa-heart" style="color: #FF0000;"></i> <%= blog.votes.count %></h5>
                    <% else %>
                    <%= link_to blog_vote_path(blog,blog.votes.where(user_id: current_user.id).first.id), method: :delete do %>
                        <h5><i class="fa fa-heart" style="color: #FF0000;"></i> <%= blog.votes.count %></h5>
                    <% end %>
                    <% end %>
                  </div>
              <% else %>
                  <div class="right">
                    <% if blog.user == current_user %>
                        <h5><i class="fa fa-heart-o" style="color: #FF0000"></i> <%= blog.votes.count %></h5>
                    <% else %>
                    <%= link_to blog_votes_path(blog), method: :post do %>
                        <h5><i class="fa fa-heart-o" style="color: #FF0000"></i> <%= blog.votes.count %></h5>
                    <% end %>
                    <% end %>
                  </div>
              <% end %>

              <% require 'rubygems' %>
              <% require 'nokogiri' %>
              <div><%= Nokogiri::HTML(blog.content).text.truncate(250, separator: ' ') %></div>
              <hr/>
              <small>Created by <em><%= link_to blog.user.name, user_path(blog.user) %></em>, <%= time_ago_in_words(blog.created_at) %> ago</small><br/>

              <!-- Blog Tags -->
              <% blog.tags.each do |tag| %>
                  <%= link_to tags_path(tag.name) do %>
                      <div class="chip">
                        <%= tag.name %>
                      </div>
                  <% end %>
              <% end %>

            </div>
          </div>
        </div>
    <% end %>
<% end %>