<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <%= form_for(@blog) do |f| %>
        <!-- blog title -->
        <div class="input-field">
          <%= f.label :title %>
          <%= f.text_field :title, required: true, autofocus: true %>
        </div>

        <!-- blog content -->
        <div class="input-field">
        <%= f.cktext_area :content, required: true, class: "materialize-textarea" %>
        </div>

        <!-- blog tags -->
        <div class="input-field">
        <%= f.label :tag_list %>
        <%= f.text_field :tag_list, :"data-role" => "materialtags", value: @blog.tag_list.to_s %>
        </div>

        <!-- blog publish -->
        <div class="input-field">
          <%= f.check_box :publish, class: "filled-in" %>
          <%= f.label :publish %>
        </div>

        <!-- blog image_url for meta -->
        <div class="input-field">
        <%= f.label :image_url, "Optional Image url for meta" %>
        <%= f.text_field :image_url %>
        </div>

        <!-- Submit form -->
        <div class="input-field center">
          <%= f.submit button, class: "btn" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
