<%
   meta title: 'Home',
        description: 'Bloggy app is a clone of Medium App built in Ruby on Rails with WSIYMG editor',
        keywords: %w(RubyOnRails Rails Medium Bloggy blog),
        rel: {
                author: "http://www.sulmanbaig.com",
                publisher: "https://codelit.com"
        },
        og: {
                title: 'Home | Bloggy - Medium Clone',
                image: "https://codelit.s3.amazonaws.com/photos/images/000/000/010/original/cup-mug-desk-office.jpg?1445262634",
                site_name: "Bloggy",
                url: root_url,
                description: 'Bloggy app is a clone of Medium App built in Ruby on Rails with WSIYMG editor',
                type: "blog",
                locale: "en_US"
        },
        fb: {
                app_id: "429015597309000"
        },
        twitter: {
                card: "summary",
                title: "Home | Bloggy - Medium Clone",
                site: "@codelitweb",
                image: "https://codelit.s3.amazonaws.com/photos/images/000/000/010/original/cup-mug-desk-office.jpg?1445262634",
                description: 'Bloggy app is a clone of Medium App built in Ruby on Rails with WSIYMG editor'
        }
%>
<div class="container">
  <!-- Fixed New blog button -->
  <% if user_signed_in? %>
  <div class="fixed-action-btn" style="top: 50px; right: 24px;">
    <a class="btn-floating btn-large red" href="<%= new_blog_path %>">
      <i class="large material-icons">add</i>
    </a>
  </div>
  <% end %>

  <!-- Header of index-->
  <h1 class="center">Bloggy</h1>
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <div class="addthis_sharing_toolbox center"></div>

  <!-- Indexes -->
  <div class="row">
    <%= render 'blogs/blog' %>
  </div>
</div>