<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <div class="row">
          <div class="col m4">
            <%= image_tag @user.avatar.url(:medium), alt: @user.name, style: "width: 150px; height: 150px;", class: "circle responsive-img" %>
          </div>
          <div class="col m8">
            <h3><%= @user.name %></h3>
            <p>Email: <%= link_to @user.email, "mailto:"+@user.email %></p>
            <% if @user.website.present? %>
                <p>Website: <%= link_to @user.website, @user.website, target: "_blank" %></p>
            <% end %>
            <% if @user.twitter.present? %>
                <p>twitter: <%= link_to @user.twitter, "https://twitter.com/"+@user.twitter.tr('@',''), target: "_blank" %></p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="center">
        <%= link_to "Blogs", user_path(@user), class: "btn" %>
        <%= link_to "Likes", user_path(@user, likes: "true"), class: "btn" %>
      </div>

      <%= render 'blogs/blog' %>
    </div>
  </div>
</div>