<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m1">
      <div class="card-panel">
        <h2 class="center">Forgot Your Password?</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <!-- Get user email -->
            <div class="input-field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true %>
            </div>

            <!-- Submit form -->
            <div class="input-field center">
              <%= f.submit "Send me Reset Password Instructions", class: "btn" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
