<nav style="background-color: #0089EC;">
  <div class="nav-wrapper">
    <a href="<%= root_path %>" class="brand-logo">Bloggy</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <div class="left hide-on-small-and-down", style="margin-left: 100px;">

        <%= search_form_for @q, url: search_path, html: { method: :post } do |f| %>
            <div class="input-field">
              <%= f.search_field :title_or_content_cont %>
              <label for="q_title_or_content_cont"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
        <% end %>

    </div>
    <ul class="right hide-on-med-and-down">
      <%= render "shared/navElements" %>
      <% if user_signed_in? %>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= image_tag current_user.avatar.url(:medium), alt: current_user.name, class: "circle responsive-img", style: "width: 25px; height: 25px;" %> <%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <%= render "shared/navElements" %>
      <% if user_signed_in? %>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><%= image_tag current_user.avatar.url(:medium), alt: current_user.name, class: "circle responsive-img", style: "width: 25px; height: 25px;" %> <%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
      <% end %>
    </ul>
  </div>
</nav>